{:paths   ["src" "resources"]
 :deps    {metosin/reitit          {:mvn/version "0.5.18"}
           ring/ring-jetty-adapter {:mvn/version "1.9.6"}
           party.donut/system      {:mvn/version "0.0.203"}
           com.xtdb/xtdb-core      {:mvn/version "1.23.2"}
           scicloj/scicloj.ml      {:mvn/version "0.2.0"}
           metosin/malli           {:mvn/version "0.11.0"}
           meander/epsilon         {:mvn/version "0.0.650"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
